<div class="dialog">
  
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.text_field :username, placeholder:"User name"  %>
    <%= f.password_field :password, placeholder:"Password" %>
    <%= f.submit "Log in" %>
  <% end %>
  
  <p class="session-links">
    Don't have an account? <%= link_to "Sign up here", new_user_path %>
  </p>
</div>