<p>
    Hello, <%= @user.username.partition(" ").first %>! Here you have your message stats:
</p>
<ul>
    <li>
        Last week, <%= @last_week_message_count %> messages were exchanged in total.
    </li>
    <li>
        Since your last message, <%= @message_count_since_last_message %> messages were exchanged.
    </li>
</ul>
<p>
    Thank you!
</p>


    