/* line 1, app/assets/stylesheets/main.sass */
html, body, a, ul, li, form, label, header {
  font-family: helvetica, sans;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* line 7, app/assets/stylesheets/main.sass */
.alert {
  background-color: #7292b0;
  color: #fcfaf5;
  font-size: 12px;
  padding: 20px 20px 20px;
}

/* line 13, app/assets/stylesheets/main.sass */
.header {
  margin-bottom: 30px;
  padding: 10px 20px;
}

/* line 17, app/assets/stylesheets/main.sass */
.header-nav {
  float: right;
}

/* line 19, app/assets/stylesheets/main.sass */
.header-nav li {
  display: inline-block;
  list-style: none;
}

/* line 22, app/assets/stylesheets/main.sass */
.header-nav a {
  color: #7292b0;
  font-size: 10px;
  letter-spacing: 0.075em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 29, app/assets/stylesheets/main.sass */
.header-nav a:hover {
  color: #e67642;
}

/* line 32, app/assets/stylesheets/main.sass */
textarea,
input[type="text"],
input[type="password"] {
  box-sizing: border-box;
  resize: none;
  font-family: helvetica, sans;
  font-size: 14px;
  padding: 14px 10px;
}

/* line 41, app/assets/stylesheets/main.sass */
button, input[type="submit"] {
  background-color: #7292b0;
  border: 0;
  color: #fcfaf5;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.05em;
  padding: 12px;
  text-transform: uppercase;
}

/* line 50, app/assets/stylesheets/main.sass */
button:hover, input[type="submit"]:hover {
  background-color: #eeaf3a;
}

/* line 53, app/assets/stylesheets/main.sass */
.dialog {
  background-color: #4b6680;
  border: 10px solid #7292b0;
  margin: 5vh auto 0;
  padding: 40px;
  width: 500px;
}

/* line 59, app/assets/stylesheets/main.sass */
.dialog label {
  color: #fcfaf5;
  font-size: 10px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* line 64, app/assets/stylesheets/main.sass */
.dialog input:not([type="submit"]) {
  width: 100%;
  margin-bottom: 15px;
}

/* line 67, app/assets/stylesheets/main.sass */
.dialog input[type="submit"] {
  display: block;
  margin: 40px auto 0;
  width: 150px;
}

/* line 72, app/assets/stylesheets/main.sass */
#error_explanation {
  font-size: 10px;
  color: #fcfaf5;
}

/* line 75, app/assets/stylesheets/main.sass */
#error_explanation ul {
  padding-left: 15px;
}

/* line 78, app/assets/stylesheets/main.sass */
.session-links {
  color: #fcfaf5;
  margin-top: 50px;
  font-size: 12px;
}

/* line 82, app/assets/stylesheets/main.sass */
.session-links a {
  color: #fcfaf5;
  font-size: 11px;
  letter-spacing: 0.05em;
  text-decoration: underline;
  text-transform: uppercase;
}

/* line 88, app/assets/stylesheets/main.sass */
.session-links a:hover {
  color: #e67642;
}

/* line 91, app/assets/stylesheets/main.sass */
.message-wr {
  height: 75vh;
  margin: auto;
  width: 80vw;
}

/* line 96, app/assets/stylesheets/main.sass */
.messages {
  background-color: #fff;
  box-shadow: 0 0 0 5px #f4f2ed inset;
  box-sizing: border-box;
  height: 87%;
  overflow: scroll;
  padding: 20px;
}

/* line 104, app/assets/stylesheets/main.sass */
.messages-table {
  display: table;
  width: 100%;
}

/* line 108, app/assets/stylesheets/main.sass */
.message {
  line-height: 1.6;
  display: table-row;
}

/* line 110, app/assets/stylesheets/main.sass */
.message:last-child {
  margin-bottom: 10px;
}

/* line 114, app/assets/stylesheets/main.sass */
.message > div {
  display: table-cell;
  padding: 13px 10px 10px;
}

/* line 118, app/assets/stylesheets/main.sass */
.message-user {
  color: #666;
  font-size: 13px;
  margin-right: 10px;
}

/* line 123, app/assets/stylesheets/main.sass */
.message-content {
  width: 100%;
}

/* line 126, app/assets/stylesheets/main.sass */
.message-input {
  background-color: rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  height: 13%;
  padding: 0 5px 5px;
}

/* line 131, app/assets/stylesheets/main.sass */
.message-input form {
  height: 100%;
}

/* line 133, app/assets/stylesheets/main.sass */
.message-input textarea {
  height: 100%;
  width: 100%;
}

/* line 136, app/assets/stylesheets/main.sass */
.message-input input {
  display: none;
}
