<div class="dialog">
  
  <%= form_for(@user) do |f| %>
    <%= f.text_field :username, placeholder:"User name" %>
    <%= f.text_field :email, placeholder:"Email" %>
    <%= f.password_field :password, placeholder:"Password" %>
    <%= f.password_field :password_confirmation, placeholder:"Password confirmation" %>
    <%= render 'shared/error_messages' %>
    <%= f.submit "Sign up" %>
  <% end %>
  
  <p class="session-links">
    Already have an account? <%= link_to "Sign in here", root_path %>
  </p>
</div>